
# purchase area
  checklist of items
<a href="/purchases/">Make a Sale</a>

  purchase button
    routes to a receipt page



# admin tools / hr managers
<a href="/products/">Products</a>
<a href="/report/">Get Sales Report</a>

Reports
Sales
STUFF
