<h2>Products</h2>
<% if @products.any?() %>
  <% @products.each() do |product| %>
  <div class="list">
    <br>
    <ul>
      <li><%= product.description() %> - $<%= product.cost() %>0</li>
    </ul>
    <br>
  </div>
  <% end %>

  <% else %>
  <br>
  <p><em>There are currently no products in stock. Try adding one below:</em></p>
  <br>
<% end %>


<div class="form">

  <form action='/add_product' method= "post">
    <label for="description">Product Description:</label>
    <input id="description" name="description" type="text">

    <label for="cost">Cost:</label>
    <input id="price" name="cost" type="number">

    <button type="submit">Add Product</button>
  </form>

</div>
