<form action="/report/" method="post">
  <label for="start_date">Start Date:</label>
  <input id="start_date" name="start_date" type="date">

  <label for="end_date">End Date:</label>
  <input id="end_date" name="end_date" type="date">

  <button type="submit">Find</button>
</form>
