/*div {
  padding: 20px;
  border-radius: 10px;
}*/

/*
.jumbotron {
  padding: 45px;
}*/

/*.title {
  font-size: 35px;
}

.lead {
  font-size: 21px;
}*/

.btn {
  margin: 10px;
}

/*
.results-box {
  text-align: center;
  background-color: #eee;
}

.products-box {
  background-color: rgba(86,61,124,.15);
  padding: 8px;
}*/
